$yellow: #fffa19;
$red: #f55531;
$green: #21b051;
$blue: #3a6ed6;

//mixin para margenes
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
//mixin para padding de iconos
@mixin padding-icons($right, $left){
    padding-right: $right;
    padding-left: $left;
}

footer {
	background-color: $green; //aplicando variable color verde
	padding: 10px 10px 0 10px;	
	@include margenes(10px, 0px);
}

.jumbotron {
	background-color: $yellow; //aplicando variable color amarillo
	color: black; 
	@include margenes(50px, 10px); //aca aplicamos el mixin credo de margenes
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn_reserva {
    background-color: $red; //aplicando variable color rojo
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	@include padding-icons(10px, 0px)
}

.centerBlock {
	display: table;
	margin: auto;
}

.tab-content {
	padding-top: 10px;
}

.btnCollapse {
	margin-top: 4px; }

.marginHorizontal {
	margin-left: 8px;
	margin-right: 8px;
}


